<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>

	  {{>nav}}
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Ingredients</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    {{data}}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">


            <div class="row bs-wizard" style="border-bottom:0;">

                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Add preferences</div>
                </div>

                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Chosse Ingredients</div>
                </div>

                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Choose Dish</div>
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Get Recipe</div>
                </div>
            </div>
	</div>
</div>

  <div class="container">
  <p class="text-center"> </p>
  <p class="text-center"> <b>Choose at least one ingredient you have in your fridge blablablablablablalba</p>
	<p class="text-center"> </p>

  <form action="/curation" method="GET">

    <input type="hidden" name="mealtype" value="{{meal}}" />
    <input type="hidden" name="ingr" value="{{ingr}}" />

    <div class="row">
      <div class="col">
        <label for="all" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/42.png"/>
          <input me="all" id="all" type="checkbox" name="all"/>
        </label>
      </div>
      <div class="col">
        <label for="nonuts" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/43.png"/>
          <input me="nonuts" id="nonuts" type="checkbox" name="nonuts"/>
        </label>
      </div>
      <div class="col">
        <label for="nogluten" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/44.png"/>
          <input me="nogluten" id="nogluten" type="checkbox" name="nogluten"/>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="nosugar" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/45.png"/>
          <input me="nosugar" id="nosugar" type="checkbox" name="nosugar"/>
        </label>
      </div>
      <div class="col">
        <label for="noeggs" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/46.png"/>
          <input me="noeggs" id="noeggs" type="checkbox" name="noeggs"/>
        </label>
      </div>
      <div class="col">
        <label for="nodairy" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/47.png"/>
          <input me="nodairy" id="nodairy" type="checkbox" name="nodairy"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="noshellfish" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/48.png"/>
          <input me="noshellfish" id="noshellfish" type="checkbox" name="noshellfish"/>
        </label>
      </div>

      <div class="col">
        <label for="vegetarian" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/50.png"/>
          <input me="vegetarian" id="vegetarian" type="checkbox" name="vegetarian" />
        </label>
      </div>
      <div class="col">
        <label for="vegan" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/51.png"/>
          <input me="vegan" id="vegan" type="checkbox" name="vegan"/>
        </label>
      </div>
    </div>

    <div>
      <button class="btn btn-outline-danger btn-block px-10 py-3 mt-3">Next</button>
  </div>
  </form>
  </div>


    <footer class="ftco-footer ftco-bg-dark ftco-section">
        {{>footer}}
    </footer>


  <!-- loader -->
  {{>scripts}}


  </body>
  }
  }
</html>
