<!DOCTYPE html>
<head>
  <title>AXIOS Example</title>
  <link rel="shortcut icon" href="https://lh3.googleusercontent.com/MpnmfR3zYPTojA03QbhGgwIHucmH5s4G2vbIlADYhODL488MQt_BuVztv9LYmJbhwkScYN0DIXuh4d10YMsLbWXT">
</head>

<body>
  <div>
    <h1>Sub: {{sub}}</h1>

    {{#feed}}
    <div style="padding:16px;">
      <a target="_blank" href="{{data.url}}">{{data.title}}</a>
    </div>
    {{/feed}}
  </div>

</body>
</html>
