<!DOCTYPE html>
<head>
  <title>FETCH Example</title>
  <link rel="shortcut icon" href="https://lh3.googleusercontent.com/MpnmfR3zYPTojA03QbhGgwIHucmH5s4G2vbIlADYhODL488MQt_BuVztv9LYmJbhwkScYN0DIXuh4d10YMsLbWXT">
</head>

<body>
  <div>
    <h1>Select Reddit Sub</h1>
    <div id="list"></div>

  </div>

  <script>
    (function(){
      fetch('/api/endpoint')
        .then(payload => payload.json())
        .then(resp => {
          var data = resp.data // array of Reddit subs returned from "endpoint.js"
          console.log(JSON.stringify(data))
          var html = '<ol>'
          data.forEach(function(sub){
            html += '<a href="/axios/'+sub.path+'">'+sub.name+'</a><br />'
          })
          html += '</ol>'
          document.getElementById('list').innerHTML = html
        })
        .catch(err => {
          console.log('ERROR. Something went wrong.')
        })
    })()
  </script>
</body>
</html>
