<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>

	  {{>nav}}
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Main Ingredients</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    {{data}}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
		
        
            <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Step 1</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Choose Mealtype</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 2</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Choose Main Ingredients</div>
                </div>

                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 3</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Choose Allergies</div>
                </div>

                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 4</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Choose Diet</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Step 5</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Choose Dish</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Step 6</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Get Recipe</div>
                </div>
            </div>
	</div>
</div>

  <div class="container">
  <p class="text-center"> </p>  
  <p class="text-center"> <b>You do the cooking, we do the planning. Pick the main ingredient from your fridge that you want to use</p>
	<p class="text-center"> </p>            

  <form action="/allergies" method="GET">
    <div class="row">
      <div class="col">
        <label for="veg" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/2.png"/>
          <input me="veg" id="veg" type="checkbox" name="veg"/>
        </label>
      </div>
      <div class="col">
        <label for="fish" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/4.png"/>
          <input me="fish" id="fish" type="checkbox" name="fish"/>
        </label>
      </div>
      <div class="col">
        <label for="cond" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/5.png"/>
          <input me="cond" id="cond" type="checkbox" name="cond"/>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="dairy" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/3.png"/>
          <input me="dairy" id="dairy" type="checkbox" name="dairy"/>
        </label>
      </div>
      <div class="col">
        <label for="beans" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/11.png"/>
          <input me="beans" id="beans" type="checkbox" name="beans"/>
        </label>
      </div>
      <div class="col">
        <label for="fruit" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/7.png"/>
          <input me="fruit" id="fruit" type="checkbox" name="fruit"/>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="wheat" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/8.png"/>
          <input me="wheat" id="wheat" type="checkbox" name="wheat"/>
        </label>
      </div>
      <div class="col">
        <label for="dessert" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/9.png"/>
          <input me="dessert" id="dessert" type="checkbox" name="dessert" />
        </label>
      </div>
      <div class="col">
        <label for="meat" class="image-checkbox" >
          <img class="img-responsive" src="/images/Icons/10.png"/>
          <input me="meat" id="meat" type="checkbox" name="meat" />
        </label>
      </div>
    </div>

    <div>
      <button class="btn btn-outline-danger btn-block px-10 py-3 mt-3">Next</button>
  </div>
  </form>
  </div>


    <footer class="ftco-footer ftco-bg-dark ftco-section">
        {{>footer}}
    </footer>


  <!-- loader -->
  {{>scripts}}


  </body>
  }
  }
</html>
